<div class="profile">
  <label class="attribute-name"> Ваш никнейм </label>
  <label class="attribute"><%= current_user.nick %></label>

  <label class="attribute-name"> Ваш email </label>
  <label class="attribute"><%= current_user.email %></label>

  <button> Изменить пароль </button>
</div>
